<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> in <%= restaurant.address %> </li>
    <li> Category: <%= restaurant.category %></li> <br>
  <% end %>
</ul>
<%= link_to 'New', restaurants_new_path, class: "btn btn-primary"%>
